<%- include('partials/head') %>
    <!-- this is so that u can set a basic template
and access it to all files 
here the file is head.ejs which contains the  
head part of the html syntax -->

    <body>
        <% for(let i=0;i<1000;i++) {%>
            <span>gandu</span>
        <% } %> 
    </body>

    <!-- <%=  %> is javascript but it displays
<%  %> javascript but doesnt display, used for 
logic part and loops etc -->

    </html>